<!DOCTYPE html>
html(lang="en")
  head 
    meta(charset='utf-8')
    title #{pageTitle}
    link(rel='stylesheet', href='/css/bootstrap.css')
  body      
    .container.mt-4
      .row.align-items-center.text-center(style="height:100vh") 
        .col-12
          h1 Page Not Found
          
